@{
    Layout = "_Layout_Site";
}

    <div class="ie-panel"><a href="https://windows.microsoft.com/en-US/internet-explorer/"><img src="images/ie8-panel/warning_bar_0000_us.jpg" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
    <div class="preloader loaded">
    <div class="preloader-logo">
        <img src="https://livedemo00.template-help.com/wt_51575/images/logo-default-151x44.png" alt="" width="151" height="44" srcset="images/logo-default-151x44.png 2x">
      </div>
      <div class="preloader-body">
        <div id="loadingProgressG">
          <div class="loadingProgressG" id="loadingProgressG_1"></div>
        </div>
      </div>
    </div>
    <div class="page animated" style="animation-duration: 500ms;">
      <!-- Page Header--><a class="banner banner-top" href="https://www.templatemonster.com/intense-multipurpose-html-template.html" target="_blank"><img src="images/intense_02.jpg" alt=""></a>
      <header class="section novi-background page-header">
        <!-- RD Navbar-->
        <div class="rd-navbar-wrap" style="height: 118px;">
          <nav class="rd-navbar rd-navbar-corporate rd-navbar-original rd-navbar-static" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-lg-device-layout="rd-navbar-static" data-lg-stick-up="true" data-lg-stick-up-offset="118px" data-xl-layout="rd-navbar-static" data-xl-device-layout="rd-navbar-static" data-xl-stick-up="true" data-xl-stick-up-offset="118px" data-xxl-layout="rd-navbar-static" data-xxl-device-layout="rd-navbar-static" data-xxl-stick-up-offset="118px" data-xxl-stick-up="true">
            <div class="rd-navbar-aside-outer">
              <div class="rd-navbar-aside">
                <!-- RD Navbar Panel-->
                <div class="rd-navbar-panel">
                  <!-- RD Navbar Toggle-->
                  <button class="rd-navbar-toggle toggle-original" data-rd-navbar-toggle="#rd-navbar-nav-wrap-1"><span></span></button>
                            <!-- RD Navbar Brand--><a class="rd-navbar-brand" href="index.html"><img src="https://livedemo00.template-help.com/wt_51575/images/logo-default-151x44.png" alt="" width="151" height="44" srcset="images/logo-default-151x44.png 2x"></a>
                </div>
                <div class="rd-navbar-collapse">
                  <button class="rd-navbar-collapse-toggle rd-navbar-fixed-element-1 toggle-original" data-rd-navbar-toggle="#rd-navbar-collapse-content-1"><span></span></button>
                  <div class="rd-navbar-collapse-content toggle-original-elements" id="rd-navbar-collapse-content-1">
                    <article class="unit align-items-center">
                      <div class="unit-left"><span class="icon novi-icon icon-md icon-modern mdi mdi-phone"></span></div>
                      <div class="unit-body">
                        <ul class="list-0">
                          <li><a class="link-default" href="tel:#">1-800-1234-567</a></li>
                          <li><a class="link-default" href="tel:#">1-800-8763-765</a></li>
                        </ul>
                      </div>
                    </article>
                    <article class="unit align-items-center">
                      <div class="unit-left"><span class="icon novi-icon icon-md icon-modern mdi mdi-map-marker"></span></div>
                      <div class="unit-body"><a class="link-default" href="tel:#">2130 Fulton Street <br> San Diego, CA 94117-1080</a></div>
                    </article><a class="button button-gray-bordered button-winona" href="#"><div class="content-original">Request a call</div><div class="content-dubbed">Request a call</div></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="rd-navbar-main-outer">
              <div class="rd-navbar-main">
                <div class="rd-navbar-nav-wrap toggle-original-elements" id="rd-navbar-nav-wrap-1">
                  <!-- RD Navbar Nav-->
                  <ul class="rd-navbar-nav">
                    <li class="rd-nav-item active"><a class="rd-nav-link" href="index.html">Home</a>
                    </li>
                    <li class="rd-nav-item"><a class="rd-nav-link" href="about-us.html">About us</a>
                    </li>
                    <li class="rd-nav-item"><a class="rd-nav-link" href="typography.html">Typography</a>
                    </li>
                    <li class="rd-nav-item"><a class="rd-nav-link" href="contacts.html">Contacts</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </nav>
        </div>
      </header>
      <section class="section swiper-container swiper-slider swiper-slider-minimal swiper-container-horizontal swiper-container-fade" data-loop="true" data-slide-effect="fade" data-autoplay="4759" data-simulate-touch="true">
        <div class="swiper-wrapper" style="transition-duration: 0ms;">
            <div class="swiper-slide swiper-slide-duplicate swiper-slide-prev" data-slide-bg="https://livedemo00.template-help.com/wt_51575/images/slider-minimal-slide-3-1920x968.jpg" style="background-image: url(&quot;https://livedemo00.template-help.com/wt_51575/images/slider-minimal-slide-3-1920x968.jpg&quot;); background-size: cover; width: 1061px; transform: translate3d(0px, 0px, 0px); opacity: 1; transition-duration: 0ms;" data-swiper-slide-index="2">
            <div class="container">
              <div class="jumbotron-classic-content">
                <div class="wow-outer">
                  <div class="title-docor-text font-weight-bold title-decorated text-uppercase wow slideInLeft text-white" style="visibility: visible; animation-name: slideInLeft;">More Than 20 Years of</div>
                </div>
                <h1 class="text-uppercase text-white font-weight-bold wow-outer"><span class="wow slideInDown" data-wow-delay=".2s" style="visibility: visible; animation-delay: 0.2s; animation-name: slideInDown;">Experience</span></h1>
                <p class="text-white wow-outer"><span class="wow slideInDown" data-wow-delay=".35s" style="visibility: visible; animation-delay: 0.35s; animation-name: slideInDown;">Founded in 1989, our company is a team of renowned property management and real estate experts always ready to help you.</span></p>
                <div class="wow-outer button-outer"><a class="button button-md button-primary button-winona wow slideInDown" href="#" data-wow-delay=".4s" style="visibility: visible; animation-delay: 0.4s; animation-name: slideInDown;">View properties</a></div>
              </div>
            </div>
          </div>
            <div class="swiper-slide swiper-slide_video swiper-slide-active" data-slide-bg="https://livedemo00.template-help.com/wt_51575/images/slider-minimal-slide-1-1920x968.jpg" style="background-image: url(&quot;https://livedemo00.template-help.com/wt_51575/images/slider-minimal-slide-1-1920x968.jpg&quot;); background-size: cover; width: 1061px; transform: translate3d(-1061px, 0px, 0px); opacity: 1; transition-duration: 0ms;" data-swiper-slide-index="0">
            <div class="container">
              <div class="jumbotron-classic-content">
                <div class="wow-outer">
                  <div class="title-docor-text font-weight-bold title-decorated text-uppercase wow slideInLeft text-white" style="visibility: visible; animation-name: slideInLeft;">Offering Diverse</div>
                </div>
                <h1 class="text-uppercase text-white font-weight-bold wow-outer"><span class="wow slideInDown" data-wow-delay=".2s" style="visibility: visible; animation-delay: 0.2s; animation-name: slideInDown;">Properties</span></h1>
                <p class="text-white wow-outer"><span class="wow slideInDown" data-wow-delay=".35s" style="visibility: visible; animation-delay: 0.35s; animation-name: slideInDown;">inHouse provides you with lots of great properties throughout the USA so that you could easily choose your dream property.</span></p>
                <div class="wow-outer button-outer"><a class="button button-md button-primary button-winona wow slideInDown" href="#" data-wow-delay=".4s" style="visibility: visible; animation-delay: 0.4s; animation-name: slideInDown;"><div class="content-original">View Properties</div><div class="content-dubbed">View Properties</div></a></div>
              </div>
            </div>
          </div>
            <div class="swiper-slide swiper-slide-next" data-slide-bg="https://livedemo00.template-help.com/wt_51575/images/slider-minimal-slide-2-1920x968.jpg" style="background-image: url(&quot;https://livedemo00.template-help.com/wt_51575/images/slider-minimal-slide-2-1920x968.jpg&quot;); background-size: cover; width: 1061px; transform: translate3d(-2122px, 0px, 0px); opacity: 0; transition-duration: 0ms;" data-swiper-slide-index="1">
            <div class="container">
              <div class="jumbotron-classic-content">
                <div class="wow-outer">
                  <div class="title-docor-text font-weight-bold title-decorated text-uppercase wow slideInLeft text-white" style="visibility: visible; animation-name: slideInLeft;">Easily</div>
                </div>
                <h1 class="text-uppercase text-white font-weight-bold wow-outer"><span class="wow slideInDown" data-wow-delay=".2s" style="visibility: visible; animation-delay: 0.2s; animation-name: slideInDown;">Rent &amp; Sale</span></h1>
                <p class="text-white wow-outer"><span class="wow slideInDown" data-wow-delay=".35s" style="visibility: visible; animation-delay: 0.35s; animation-name: slideInDown;">With the help of our services and property management solutions, you can rent or sell any house or apartment.</span></p>
                <div class="wow-outer button-outer"><a class="button button-md button-primary button-winona wow slideInDown" href="#" data-wow-delay=".4s" style="visibility: visible; animation-delay: 0.4s; animation-name: slideInDown;"><div class="content-original">View properties</div><div class="content-dubbed">View properties</div></a></div>
              </div>
            </div>
          </div>
            <div class="swiper-slide swiper-slide-duplicate-prev" data-slide-bg="https://livedemo00.template-help.com/wt_51575/images/slider-minimal-slide-3-1920x968.jpg" style="background-image: url(&quot;https://livedemo00.template-help.com/wt_51575/images/slider-minimal-slide-3-1920x968.jpg&quot;); background-size: cover; width: 1061px; transform: translate3d(-3183px, 0px, 0px); opacity: 0; transition-duration: 0ms;" data-swiper-slide-index="2">
            <div class="container">
              <div class="jumbotron-classic-content">
                <div class="wow-outer">
                  <div class="title-docor-text font-weight-bold title-decorated text-uppercase wow slideInLeft text-white" style="visibility: visible; animation-name: slideInLeft;">More Than 20 Years of</div>
                </div>
                <h1 class="text-uppercase text-white font-weight-bold wow-outer"><span class="wow slideInDown" data-wow-delay=".2s" style="visibility: visible; animation-delay: 0.2s; animation-name: slideInDown;">Experience</span></h1>
                <p class="text-white wow-outer"><span class="wow slideInDown" data-wow-delay=".35s" style="visibility: visible; animation-delay: 0.35s; animation-name: slideInDown;">Founded in 1989, our company is a team of renowned property management and real estate experts always ready to help you.</span></p>
                <div class="wow-outer button-outer"><a class="button button-md button-primary button-winona wow slideInDown" href="#" data-wow-delay=".4s" style="visibility: visible; animation-delay: 0.4s; animation-name: slideInDown;"><div class="content-original">View properties</div><div class="content-dubbed">View properties</div></a></div>
              </div>
            </div>
          </div>
            <div class="swiper-slide swiper-slide_video swiper-slide-duplicate swiper-slide-duplicate-active" data-slide-bg="https://livedemo00.template-help.com/wt_51575/images/slider-minimal-slide-1-1920x968.jpg" style="background-image: url(&quot;https://livedemo00.template-help.com/wt_51575/images/slider-minimal-slide-1-1920x968.jpg&quot;); background-size: cover; width: 1061px; transform: translate3d(-4244px, 0px, 0px); opacity: 0; transition-duration: 0ms;" data-swiper-slide-index="0">
            <div class="container">
              <div class="jumbotron-classic-content">
                <div class="wow-outer">
                  <div class="title-docor-text font-weight-bold title-decorated text-uppercase wow slideInLeft text-white" style="visibility: visible; animation-name: slideInLeft;">Offering Diverse</div>
                </div>
                <h1 class="text-uppercase text-white font-weight-bold wow-outer"><span class="wow slideInDown" data-wow-delay=".2s" style="visibility: visible; animation-delay: 0.2s; animation-name: slideInDown;">Properties</span></h1>
                <p class="text-white wow-outer"><span class="wow slideInDown" data-wow-delay=".35s" style="visibility: visible; animation-delay: 0.35s; animation-name: slideInDown;">inHouse provides you with lots of great properties throughout the USA so that you could easily choose your dream property.</span></p>
                <div class="wow-outer button-outer"><a class="button button-md button-primary button-winona wow slideInDown" href="#" data-wow-delay=".4s" style="visibility: visible; animation-delay: 0.4s; animation-name: slideInDown;">View Properties</a></div>
              </div>
            </div>
          </div></div>
        <div class="swiper-pagination-outer container">
          <div class="swiper-pagination swiper-pagination-modern swiper-pagination-marked swiper-pagination-clickable swiper-pagination-bullets" data-index-bullet="true"><span class="swiper-pagination-bullet swiper-pagination-bullet-active">1</span><span class="swiper-pagination-bullet">2</span><span class="swiper-pagination-bullet">3</span></div>
        </div>
      </section>
      <section class="section novi-background section-md text-center">
        <div class="container">
          <h3 class="text-uppercase font-weight-bold wow-outer"><span class="wow slideInDown" style="visibility: visible; animation-name: slideInDown;">Popular properties</span></h3>
          <div class="row row-lg-50 row-35 offset-top-2">
            <div class="col-md-6 wow-outer">
              <!-- Post Modern-->
                    <article class="post-modern wow slideInLeft" style="visibility: visible; animation-name: slideInLeft;">
                        <a class="post-modern-media" href="#"><img src="https://livedemo00.template-help.com/wt_51575/images/grid-blog-1-571x353.jpg" alt="" width="571" height="353"></a>
                <h4 class="post-modern-title"><a class="post-modern-title" href="#">5619 Walnut Hill Ln, Dallas, TX 75229</a></h4>
                <ul class="post-modern-meta">
                  <li><a class="button-winona" href="#"><div class="content-original">$1500/mon</div><div class="content-dubbed">$1500/mon</div></a></li>
                  <li>30 Sq. Ft.</li>
                  <li>3 Bedrooms</li>
                </ul>
                <p>A comfortable residential property located in a quiet and cozy area.</p>
              </article>
            </div>
            <div class="col-md-6 wow-outer">
              <!-- Post Modern-->
                    <article class="post-modern wow slideInLeft" style="visibility: visible; animation-name: slideInLeft;">
                        <a class="post-modern-media" href="#"><img src="https://livedemo00.template-help.com/wt_51575/images/grid-blog-2-571x353.jpg" alt="" width="571" height="353"></a>
                <h4 class="post-modern-title"><a class="post-modern-title" href="#">1808 Bolingbroke Pl, Fort Worth, TX 76140</a></h4>
                <ul class="post-modern-meta">
                  <li><a class="button-winona" href="#"><div class="content-original">$1300/mon</div><div class="content-dubbed">$1300/mon</div></a></li>
                  <li>40 Sq. Ft.</li>
                  <li>2 Bedrooms</li>
                </ul>
                <p>Perfect for those who love both city life and the countryside.</p>
              </article>
            </div>
            <div class="col-md-6 wow-outer">
              <!-- Post Modern-->
                    <article class="post-modern wow slideInLeft" style="visibility: visible; animation-name: slideInLeft;">
                        <a class="post-modern-media" href="#"><img src="https://livedemo00.template-help.com/wt_51575/images/grid-blog-3-571x353.jpg" alt="" width="571" height="353"></a>
                <h4 class="post-modern-title"><a class="post-modern-title" href="#">924 Bel Air Rd, Los Angeles, CA 90077</a></h4>
                <ul class="post-modern-meta">
                  <li><a class="button-winona" href="#"><div class="content-original">1800/mon</div><div class="content-dubbed">1800/mon</div></a></li>
                  <li>50 Sq. Ft.</li>
                  <li>4 Bedrooms</li>
                </ul>
                <p>Located in 5 mins from downtown, this property is great for anyone.</p>
              </article>
            </div>
            <div class="col-md-6 wow-outer">
              <!-- Post Modern-->
                    <article class="post-modern wow slideInLeft" style="visibility: visible; animation-name: slideInLeft;">
                        <a class="post-modern-media" href="#"><img src="https://livedemo00.template-help.com/wt_51575/images/grid-blog-4-571x353.jpg" alt="" width="571" height="353"></a>
                <h4 class="post-modern-title"><a class="post-modern-title" href="#">13510 W Cheery Lynn Rd, Avondale, AZ 85392</a></h4>
                <ul class="post-modern-meta">
                  <li><a class="button-winona" href="#"><div class="content-original">$2700/mon</div><div class="content-dubbed">$2700/mon</div></a></li>
                  <li>90 Sq. Ft.</li>
                  <li>2 Bedrooms</li>
                </ul>
                <p>A luxury mansion for people who enjoy the high-end amenities.</p>
              </article>
            </div>
            <div class="col-md-12 wow-outer"><a class="button button-primary button-winona button-md" href="#"><div class="content-original">view More properties</div><div class="content-dubbed">view More properties</div></a></div>
          </div>
        </div>
      </section>
      <section class="section novi-background section-lg bg-gray-100">
        <div class="container">
          <div class="row row-30">
            <div class="col-sm-6 col-lg-4 wow-outer">
              <!-- Box Minimal-->
              <article class="box-minimal">
                <div class="box-chloe__icon novi-icon linearicons-user wow fadeIn" style="visibility: hidden; animation-name: none;"></div>
                <div class="box-minimal-main wow-outer">
                  <h4 class="box-minimal-title wow slideInDown" style="visibility: hidden; animation-name: none;">Qualified Employees</h4>
                  <p class="wow fadeInUpSmall" style="visibility: hidden; animation-name: none;">Our team consists of more than 20 qualified and experienced real estate brokers and property managers ready to help you.</p>
                </div>
              </article>
            </div>
            <div class="col-sm-6 col-lg-4 wow-outer">
              <!-- Box Minimal-->
              <article class="box-minimal">
                <div class="box-chloe__icon novi-icon linearicons-bubble-text wow fadeIn" data-wow-delay=".1s" style="visibility: hidden; animation-delay: 0.1s; animation-name: none;"></div>
                <div class="box-minimal-main wow-outer">
                  <h4 class="box-minimal-title wow slideInDown" data-wow-delay=".1s" style="visibility: hidden; animation-delay: 0.1s; animation-name: none;">Free Consultations</h4>
                  <p class="wow fadeInUpSmall" data-wow-delay=".1s" style="visibility: hidden; animation-delay: 0.1s; animation-name: none;">Our acquaintance with a client always begins with a free consultation to find out what kind of property they are looking for.</p>
                </div>
              </article>
            </div>
            <div class="col-sm-6 col-lg-4 wow-outer">
              <!-- Box Minimal-->
              <article class="box-minimal">
                <div class="box-chloe__icon novi-icon linearicons-star wow fadeIn" data-wow-delay=".2s" style="visibility: hidden; animation-delay: 0.2s; animation-name: none;"></div>
                <div class="box-minimal-main wow-outer">
                  <h4 class="box-minimal-title wow slideInDown" data-wow-delay=".2s" style="visibility: hidden; animation-delay: 0.2s; animation-name: none;">100% Guaranteed</h4>
                  <p class="wow fadeInUpSmall" data-wow-delay=".2s" style="visibility: hidden; animation-delay: 0.2s; animation-name: none;">All the results that you get from our realtors are 100% guaranteed to offer you the best choice of properties throughout the USA.</p>
                </div>
              </article>
            </div>
          </div>
        </div>
      </section>
      <!-- Services-->
      <section class="section novi-background section-lg text-center">
        <div class="container">
          <h3 class="text-uppercase">Residential property categories</h3>
          <p><span class="text-width-1">At our agency, we work with various types of residential real estate property. You can find out more about our properties by browsing our website.</span></p>
          <div class="row row-35 row-xxl-70 offset-top-2">
            <div class="col-sm-6 col-lg-3">
              <!-- Thumbnail Light-->
                    <article class="thumbnail-light">
                        <a class="thumbnail-light-media" href="#"><img class="thumbnail-light-image" src="https://livedemo00.template-help.com/wt_51575/images/service-thumbnail-1-270x300.jpg" alt="" width="270" height="300"></a>
                <h4 class="thumbnail-light-title"><a href="#">Single-Family Homes</a></h4>
              </article>
            </div>
            <div class="col-sm-6 col-lg-3">
              <!-- Thumbnail Light-->
                    <article class="thumbnail-light">
                        <a class="thumbnail-light-media" href="#"><img class="thumbnail-light-image" src="https://livedemo00.template-help.com/wt_51575/images/service-thumbnail-2-270x300.jpg" alt="" width="270" height="300"></a>
                <h4 class="thumbnail-light-title"><a href="#">Townhouses</a></h4>
              </article>
            </div>
            <div class="col-sm-6 col-lg-3">
              <!-- Thumbnail Light-->
                    <article class="thumbnail-light">
                        <a class="thumbnail-light-media" href="#"><img class="thumbnail-light-image" src="https://livedemo00.template-help.com/wt_51575/images/service-thumbnail-3-270x300.jpg" alt="" width="270" height="300"></a>
                <h4 class="thumbnail-light-title"><a href="#">Multi-Family Homes</a></h4>
              </article>
            </div>
            <div class="col-sm-6 col-lg-3">
              <!-- Thumbnail Light-->
                    <article class="thumbnail-light">
                        <a class="thumbnail-light-media" href="#"><img class="thumbnail-light-image" src="https://livedemo00.template-help.com/wt_51575/images/service-thumbnail-4-270x300.jpg" alt="" width="270" height="300"></a>
                <h4 class="thumbnail-light-title"><a href="#">Condominiums</a></h4>
              </article>
            </div>
            <div class="col-md-12 wow-outer"><a class="button button-primary button-winona button-md" href="#"><div class="content-original">view all properties</div><div class="content-dubbed">view all properties</div></a></div>
          </div>
        </div>
      </section>
      <section class="section novi-background section-lg text-center bg-gray-100">
        <div class="container">
          <h3 class="text-uppercase wow-outer"><span class="wow slideInUp" style="visibility: hidden; animation-name: none;">Our Team</span></h3>
          <div class="row row-lg-50 row-35 row-xxl-70 justify-content-center justify-content-lg-start">
            <div class="col-md-10 col-lg-6 wow-outer">
              <!-- Profile Creative-->
              <article class="profile-creative wow slideInLeft" style="visibility: hidden; animation-name: none;">
                        <figure class="profile-creative-figure">
                            <img class="profile-creative-image" src="https://livedemo00.template-help.com/wt_51575/images/team-1-270x273.jpg" alt="" width="270" height="273">
                </figure>
                <div class="profile-creative-main">
                  <h5 class="profile-creative-title"><a href="#">Nathalie Porter</a></h5>
                  <p class="profile-creative-position">Founder, Broker</p>
                  <div class="profile-creative-contacts">
                    <div class="object-inline"><span class="icon novi-icon icon-md mdi mdi-phone"></span><a href="tel:#">1-800-1324-567</a></div>
                  </div>
                  <p>Ms. Porter founded our company in 1989 with a vision to help guests and residents of the USA to easily find and buy or rent real estate in all 50 states.</p>
                </div>
              </article>
            </div>
            <div class="col-md-10 col-lg-6 wow-outer">
              <!-- Profile Creative-->
              <article class="profile-creative wow slideInLeft" data-wow-delay=".2s" style="visibility: hidden; animation-delay: 0.2s; animation-name: none;">
                        <figure class="profile-creative-figure">
                            <img class="profile-creative-image" src="https://livedemo00.template-help.com/wt_51575/images/team-2-270x273.jpg" alt="" width="270" height="273">
                </figure>
                <div class="profile-creative-main">
                  <h5 class="profile-creative-title"><a href="#">John Thompson</a></h5>
                  <p class="profile-creative-position">Sales Associate</p>
                  <div class="profile-creative-contacts">
                    <div class="object-inline"><span class="icon novi-icon icon-md mdi mdi-phone"></span><a href="tel:#">1-800-1324-567</a></div>
                  </div>
                  <p>John has been in sales and marketing for the past 15 years. He has excellent knowledge about the local market both residential and commercial.</p>
                </div>
              </article>
            </div>
            <div class="col-md-10 col-lg-6 wow-outer">
              <!-- Profile Creative-->
              <article class="profile-creative wow slideInLeft" style="visibility: hidden; animation-name: none;">
                        <figure class="profile-creative-figure">
                            <img class="profile-creative-image" src="https://livedemo00.template-help.com/wt_51575/images/team-3-270x273.jpg" alt="" width="270" height="273">
                </figure>
                <div class="profile-creative-main">
                  <h5 class="profile-creative-title"><a href="#">Brian Payne</a></h5>
                  <p class="profile-creative-position">Realtor</p>
                  <div class="profile-creative-contacts">
                    <div class="object-inline"><span class="icon novi-icon icon-md mdi mdi-phone"></span><a href="tel:#">1-800-1324-567</a></div>
                  </div>
                  <p>Brian is not only a Licensed Realtor but also holds the Title Producers and Mortgage Licenses, which makes him a very knowledgeable real estate expert.</p>
                </div>
              </article>
            </div>
            <div class="col-md-10 col-lg-6 wow-outer">
              <!-- Profile Creative-->
              <article class="profile-creative wow slideInLeft" data-wow-delay=".2s" style="visibility: hidden; animation-delay: 0.2s; animation-name: none;">
                        <figure class="profile-creative-figure">
                            <img class="profile-creative-image" src="https://livedemo00.template-help.com/wt_51575/images/team-4-270x273.jpg" alt="" width="270" height="273">
                </figure>
                <div class="profile-creative-main">
                  <h5 class="profile-creative-title"><a href="#">Marie Fernandez</a></h5>
                  <p class="profile-creative-position">Broker</p>
                  <div class="profile-creative-contacts">
                    <div class="object-inline"><span class="icon novi-icon icon-md mdi mdi-phone"></span><a href="tel:#">1-800-1324-567</a></div>
                  </div>
                  <p>Marie’s goal is to provide clients with the highest level of marketing expertise and customer service to help them reach their uppermost real estate goals.</p>
                </div>
              </article>
            </div>
          </div>
        </div>
      </section>
      <!-- Best offer-->
    <section class="section novi-background section-1 bg-primary-darker text-center" style="background-image: url(https://livedemo00.template-help.com/wt_51575/images/bg-1-1920-455.jpg);">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-sm-10 col-lg-7 col-xl-6">
              <h3 class="wow-outer"><span class="wow slideInDown text-uppercase" style="visibility: hidden; animation-name: none;">Best offers</span></h3>
              <p class="heading-subtitle">of September</p>
              <p class="wow-outer offset-top-4"><span class="wow slideInDown" data-wow-delay=".05s" style="visibility: hidden; animation-delay: 0.05s; animation-name: none;">With a variety of accountants available at our company, you can always choose one that fits your corporate requirements.</span></p>
              <div class="wow-outer button-outer"><a class="button button-primary-white button-winona wow slideInDown" href="#" data-wow-delay=".1s" style="visibility: hidden; animation-delay: 0.1s; animation-name: none;"><div class="content-original">Read more</div><div class="content-dubbed">Read more</div></a></div>
            </div>
          </div>
        </div>
      </section>
      <section class="section novi-background section-lg text-center">
        <div class="container">
          <h3 class="wow-outer"><span class="wow slideInDown text-uppercase" style="visibility: hidden; animation-name: none;">Testimonials</span></h3>
          <!-- Owl Carousel-->
          <div class="owl-carousel wow fadeIn owl-loaded" data-items="1" data-md-items="2" data-lg-items="3" data-dots="true" data-nav="false" data-loop="true" data-autoplay="true" data-autoplay-speed="731" data-autoplay-timeout="4268" data-margin="30" data-stage-padding="0" data-mouse-drag="false" style="visibility: hidden; animation-name: none;">
            
            
            
            
            
            
          <div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(-1600px, 0px, 0px); transition: all 0.731s ease 0s; width: 3840px;"><div class="owl-item cloned" style="width: 290px; margin-right: 30px;"><blockquote class="quote-classic">
              <div class="quote-classic-meta">
                                    <div class="quote-classic-avatar">
                                        <img src="https://livedemo00.template-help.com/wt_51575/images/testimonials-person-3-96x96.jpg" alt="" width="96" height="96">
                </div>
                <div class="quote-classic-info">
                  <cite class="quote-classic-cite">Bill Warner</cite>
                  <p class="quote-classic-caption">Regular Client</p>
                </div>
              </div>
              <div class="quote-classic-text">
                <p>I have just sold a property with inHouse and I can’t thank them enough. Their team has great communication skills and they have regularly communicated with me throughout the whole process.</p>
              </div>
            </blockquote></div><div class="owl-item cloned" style="width: 290px; margin-right: 30px;"><blockquote class="quote-classic">
              <div class="quote-classic-meta">
                                    <div class="quote-classic-avatar">
                                        <img src="https://livedemo00.template-help.com/wt_51575/images/testimonials-person-4-96x96.jpg" alt="" width="96" height="96">
                </div>
                <div class="quote-classic-info">
                  <cite class="quote-classic-cite">Ann Lee</cite>
                  <p class="quote-classic-caption">Regular Client</p>
                </div>
              </div>
              <div class="quote-classic-text">
                <p>Your skilled team helped me make the dream of selling my old property a reality. The sale went smoothly, and I just closed on an ideal new place I am excited to call home. Thank you for your great services!</p>
              </div>
            </blockquote></div><div class="owl-item cloned" style="width: 290px; margin-right: 30px;"><blockquote class="quote-classic">
              <div class="quote-classic-meta">
                                    <div class="quote-classic-avatar">
                                        <img src="https://livedemo00.template-help.com/wt_51575/images/testimonials-person-5-96x96.jpg" alt="" width="96" height="96">
                </div>
                <div class="quote-classic-info">
                  <cite class="quote-classic-cite">Peter Clarkson</cite>
                  <p class="quote-classic-caption">Regular Client</p>
                </div>
              </div>
              <div class="quote-classic-text">
                <p>I have to say that inHouse has the best brokers we've ever worked with. Their professionalism, personality, attention to detail, responsiveness and ability to close the deal are outstanding!</p>
              </div>
            </blockquote></div><div class="owl-item" style="width: 290px; margin-right: 30px;"><blockquote class="quote-classic">
              <div class="quote-classic-meta">
                <div class="quote-classic-avatar"><img src="https://livedemo00.template-help.com/wt_51575/images/testimonials-person-6-96x96.jpg" alt="" width="96" height="96">
                </div>
                <div class="quote-classic-info">
                  <cite class="quote-classic-cite">Albert Webb</cite>
                  <p class="quote-classic-caption">Regular Client</p>
                </div>
              </div>
              <div class="quote-classic-text">
                <p>I have just bought an apartment in LA thanks to you and your brokers. Everything went smooth and easy, the price was quite affordable, and I’m sure I will use your services again in the future.</p>
              </div>
            </blockquote></div><div class="owl-item" style="width: 290px; margin-right: 30px;"><blockquote class="quote-classic">
              <div class="quote-classic-meta">
                                    <div class="quote-classic-avatar">
                                        <img src="https://livedemo00.template-help.com/wt_51575/images/testimonials-person-1-96x96.jpg" alt="" width="96" height="96">
                </div>
                <div class="quote-classic-info">
                  <cite class="quote-classic-cite">Kelly McMillan</cite>
                  <p class="quote-classic-caption">Regular Client</p>
                </div>
              </div>
              <div class="quote-classic-text">
                <p>I have recently sold my rental property in Nelson via inHouse. Everything about the sale was made seamless by your team. You gave me great advice about what was necessary to expedite the sale.</p>
              </div>
            </blockquote></div><div class="owl-item active" style="width: 290px; margin-right: 30px;"><blockquote class="quote-classic">
              <div class="quote-classic-meta">
                                    <div class="quote-classic-avatar">
                                        <img src="https://livedemo00.template-help.com/wt_51575/images/testimonials-person-2-96x96.jpg" alt="" width="96" height="96">
                </div>
                <div class="quote-classic-info">
                  <cite class="quote-classic-cite">Harold Barnett</cite>
                  <p class="quote-classic-caption">Regular Client</p>
                </div>
              </div>
              <div class="quote-classic-text">
                <p>I really appreciate your time and expertise in helping me find and buy my current home in Seattle, WA. Hope we can do business again in the future and I will recommend you to family and friends.</p>
              </div>
            </blockquote></div><div class="owl-item active" style="width: 290px; margin-right: 30px;"><blockquote class="quote-classic">
              <div class="quote-classic-meta">
                                    <div class="quote-classic-avatar">
                                        <img src="https://livedemo00.template-help.com/wt_51575/images/testimonials-person-3-96x96.jpg" alt="" width="96" height="96">
                </div>
                <div class="quote-classic-info">
                  <cite class="quote-classic-cite">Bill Warner</cite>
                  <p class="quote-classic-caption">Regular Client</p>
                </div>
              </div>
              <div class="quote-classic-text">
                <p>I have just sold a property with inHouse and I can’t thank them enough. Their team has great communication skills and they have regularly communicated with me throughout the whole process.</p>
              </div>
            </blockquote></div><div class="owl-item active" style="width: 290px; margin-right: 30px;"><blockquote class="quote-classic">
              <div class="quote-classic-meta">
                                    <div class="quote-classic-avatar">
                                        <img src="https://livedemo00.template-help.com/wt_51575/images/testimonials-person-4-96x96.jpg" alt="" width="96" height="96">
                </div>
                <div class="quote-classic-info">
                  <cite class="quote-classic-cite">Ann Lee</cite>
                  <p class="quote-classic-caption">Regular Client</p>
                </div>
              </div>
              <div class="quote-classic-text">
                <p>Your skilled team helped me make the dream of selling my old property a reality. The sale went smoothly, and I just closed on an ideal new place I am excited to call home. Thank you for your great services!</p>
              </div>
            </blockquote></div><div class="owl-item" style="width: 290px; margin-right: 30px;"><blockquote class="quote-classic">
              <div class="quote-classic-meta">
                                    <div class="quote-classic-avatar">
                                        <img src="https://livedemo00.template-help.com/wt_51575/images/testimonials-person-5-96x96.jpg" alt="" width="96" height="96">
                </div>
                <div class="quote-classic-info">
                  <cite class="quote-classic-cite">Peter Clarkson</cite>
                  <p class="quote-classic-caption">Regular Client</p>
                </div>
              </div>
              <div class="quote-classic-text">
                <p>I have to say that inHouse has the best brokers we've ever worked with. Their professionalism, personality, attention to detail, responsiveness and ability to close the deal are outstanding!</p>
              </div>
            </blockquote></div><div class="owl-item cloned" style="width: 290px; margin-right: 30px;"><blockquote class="quote-classic">
              <div class="quote-classic-meta">
                                    <div class="quote-classic-avatar">
                                        <img src="https://livedemo00.template-help.com/wt_51575/images/testimonials-person-6-96x96.jpg" alt="" width="96" height="96">
                </div>
                <div class="quote-classic-info">
                  <cite class="quote-classic-cite">Albert Webb</cite>
                  <p class="quote-classic-caption">Regular Client</p>
                </div>
              </div>
              <div class="quote-classic-text">
                <p>I have just bought an apartment in LA thanks to you and your brokers. Everything went smooth and easy, the price was quite affordable, and I’m sure I will use your services again in the future.</p>
              </div>
            </blockquote></div><div class="owl-item cloned" style="width: 290px; margin-right: 30px;"><blockquote class="quote-classic">
              <div class="quote-classic-meta">
                                    <div class="quote-classic-avatar">
                                        <img src="https://livedemo00.template-help.com/wt_51575/images/testimonials-person-1-96x96.jpg" alt="" width="96" height="96">
                </div>
                <div class="quote-classic-info">
                  <cite class="quote-classic-cite">Kelly McMillan</cite>
                  <p class="quote-classic-caption">Regular Client</p>
                </div>
              </div>
              <div class="quote-classic-text">
                <p>I have recently sold my rental property in Nelson via inHouse. Everything about the sale was made seamless by your team. You gave me great advice about what was necessary to expedite the sale.</p>
              </div>
            </blockquote></div><div class="owl-item cloned" style="width: 290px; margin-right: 30px;"><blockquote class="quote-classic">
              <div class="quote-classic-meta">
                                    <div class="quote-classic-avatar">
                                        <img src="https://livedemo00.template-help.com/wt_51575/images/testimonials-person-2-96x96.jpg" alt="" width="96" height="96">
                </div>
                <div class="quote-classic-info">
                  <cite class="quote-classic-cite">Harold Barnett</cite>
                  <p class="quote-classic-caption">Regular Client</p>
                </div>
              </div>
              <div class="quote-classic-text">
                <p>I really appreciate your time and expertise in helping me find and buy my current home in Seattle, WA. Hope we can do business again in the future and I will recommend you to family and friends.</p>
              </div>
            </blockquote></div></div></div><div class="owl-nav disabled"><button role="presentation" class="owl-prev"></button><button role="presentation" class="owl-next"></button></div><div class="owl-dots"><button class="owl-dot active"><span></span></button><button class="owl-dot"><span></span></button></div></div>
        </div>
    </section><a class="banner" href="https://www.templatemonster.com/intense-multipurpose-html-template.html" target="_blank"><img src="https://livedemo00.template-help.com/wt_51575/images/intense_big_02.jpg" alt=""></a>
      <footer class="section novi-background footer-advanced bg-gray-700">
        <div class="footer-advanced-main">
          <div class="container">
            <div class="row row-50">
              <div class="col-lg-4">
                <h5 class="font-weight-bold text-uppercase text-white">About Us</h5>
                <p class="footer-advanced-text">inHouse is the largest full-service real estate and property management company. We offer expertise in the marketing and sale of a wide range of properties, including residential real estate, farms and lifestyle blocks, as well as commercial and industrial properties that we hope may interest you.</p>
              </div>
              <div class="col-sm-7 col-md-5 col-lg-4">
                <h5 class="font-weight-bold text-uppercase text-white">Recent Blog Posts</h5>
                <!-- Post Inline-->
                <article class="post-inline">
                  <p class="post-inline-title"><a href="#">Real Estate Guide: 7 Important Tips for Buying a Home</a></p>
                  <ul class="post-inline-meta">
                    <li>by Mike Barnes</li>
                    <li><a href="#">2 days ago</a></li>
                  </ul>
                </article>
                <!-- Post Inline-->
                <article class="post-inline">
                  <p class="post-inline-title"><a href="#">Single-Family Homes as a Housing Option for Young Families</a></p>
                  <ul class="post-inline-meta"> 
                    <li>by Mike Barnes</li>
                    <li><a href="#">2 days ago</a></li>
                  </ul>
                </article>
              </div>
              <div class="col-sm-5 col-md-7 col-lg-4">
                <h5 class="font-weight-bold text-uppercase text-white">Gallery</h5>
                <div class="row row-x-10" data-lightgallery="group">
                  <div class="col-3 col-sm-4 col-md-3"><a class="thumbnail-minimal" href="https://livedemo00.template-help.com/wt_51575/images/gallery-original-1.jpg" data-lightgallery="item"><img class="thumbnail-minimal-image" src="images/footer-gallery-1-85x85.jpg" alt="">
                      <div class="thumbnail-minimal-caption"></div></a></div>
                  <div class="col-3 col-sm-4 col-md-3"><a class="thumbnail-minimal" href="https://livedemo00.template-help.com/wt_51575/images/gallery-original-2.jpg" data-lightgallery="item"><img class="thumbnail-minimal-image" src="images/footer-gallery-2-85x85.jpg" alt="">
                      <div class="thumbnail-minimal-caption"></div></a></div>
                            <div class="col-3 col-sm-4 col-md-3">
                                <a class="thumbnail-minimal" href="https://livedemo00.template-help.com/wt_51575/images/gallery-original-3.jpg" data-lightgallery="item">
                                    <img class="thumbnail-minimal-image" src="images/footer-gallery-3-85x85.jpg" alt="">
                      <div class="thumbnail-minimal-caption"></div></a></div>
                            <div class="col-3 col-sm-4 col-md-3">
                                <a class="thumbnail-minimal" href="https://livedemo00.template-help.com/wt_51575/images/gallery-original-4.jpg" data-lightgallery="item">
                                    <img class="thumbnail-minimal-image" src="images/footer-gallery-4-85x85.jpg" alt="">
                      <div class="thumbnail-minimal-caption"></div></a></div>
                            <div class="col-3 col-sm-4 col-md-3">
                                <a class="thumbnail-minimal" href="https://livedemo00.template-help.com/wt_51575/images/gallery-original-5.jpg" data-lightgallery="item">
                                    <img class="thumbnail-minimal-image" src="images/footer-gallery-5-85x85.jpg" alt="">
                      <div class="thumbnail-minimal-caption"></div></a></div>
                  <div class="col-3 col-sm-4 col-md-3"><a class="thumbnail-minimal" href="https://livedemo00.template-help.com/wt_51575/images/gallery-original-6.jpg" data-lightgallery="item"><img class="thumbnail-minimal-image" src="images/footer-gallery-6-85x85.jpg" alt="">
                      <div class="thumbnail-minimal-caption"> </div></a></div>
                            <div class="col-3 col-sm-4 col-md-3">
                                <a class="thumbnail-minimal" href="https://livedemo00.template-help.com/wt_51575/images/gallery-original-7.jpg" data-lightgallery="item">
                                    <img class="thumbnail-minimal-image" src="images/footer-gallery-7-85x85.jpg" alt="">
                      <div class="thumbnail-minimal-caption"></div></a></div>
                            <div class="col-3 col-sm-4 col-md-3">
                                <a class="thumbnail-minimal" href="https://livedemo00.template-help.com/wt_51575/images/gallery-original-8.jpg" data-lightgallery="item">
                                    <img class="thumbnail-minimal-image" src="images/footer-gallery-8-85x85.jpg" alt="">
                      <div class="thumbnail-minimal-caption"></div></a></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="footer-advanced-aside">
          <div class="container">
            <div class="footer-advanced-layout">
              <div>
                <ul class="list-nav"> 
                  <li><a href="index.html">Home</a></li>
                  <li><a href="about-us.html">About</a></li>
                  <li><a href="#">Properties</a></li>
                  <li><a href="#">Blog</a></li>
                  <li><a href="contacts.html">Contacts</a></li>
                </ul>
              </div>
              <div>
                <ul class="foter-social-links list-inline list-inline-md">
                  <li><a class="icon novi-icon icon-sm link-default mdi mdi-facebook" href="#"></a></li>
                  <li><a class="icon novi-icon icon-sm link-default mdi mdi-twitter" href="#"></a></li>
                  <li><a class="icon novi-icon icon-sm link-default mdi mdi-instagram" href="#"></a></li>
                  <li><a class="icon novi-icon icon-sm link-default mdi mdi-google" href="#"></a></li>
                  <li><a class="icon novi-icon icon-sm link-default mdi mdi-linkedin" href="#"></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="container">
          <hr>
        </div>
        <div class="footer-advanced-aside">
          <div class="container">
                <div class="footer-advanced-layout">
                    <a class="brand" href="index.html"><img src="https://livedemo00.template-help.com/wt_51575/images/logo-light-115x34.png" alt="" width="115" height="34" srcset="images/logo-light-115x34.png 2x"></a>
              <!-- Rights-->
              <p class="rights"><span>©&nbsp;</span><span class="copyright-year">2024</span>. All Rights Reserved. Design by <a href="https://www.templatemonster.com">TemplateMonster</a></p>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <!-- Global Mailform Output-->
    <div class="snackbars" id="form-output-global"></div>
    <!-- Javascript-->
    <script type="text/javascript" async="" src="https://www.googletagmanager.com/gtag/js?id=G-2BM4094Z6X&amp;cx=c&amp;_slc=1"></script><script type="text/javascript" async="" src="https://www.google-analytics.com/analytics.js"></script><script async="" src="//www.googletagmanager.com/gtm.js?id=GTM-P9FT69"></script><script type="text/javascript" async="" src="https://ssl.google-analytics.com/ga.js"></script><script src="js/core.min.js"></script>
    <script src="js/script.js"></script>
	
	<!--LIVEDEMO_00 -->

	<script type="text/javascript">
	 var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-7078796-5']);
	  _gaq.push(['_trackPageview']);
	  (function() {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'https://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();</script>
	
  <!-- Google Tag Manager --><noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-P9FT69" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript><script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start': new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-P9FT69');</script><!-- End Google Tag Manager -->
<a href="#" id="ui-to-top" class="ui-to-top"></a>
